<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="website icon" type="png" href="images/brandmark@2x-8.png" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Al Zein</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    />
</head>

<body>
<footer class="footer">
    <div class="footer__section">
        <i class="fas fa-credit-card"></i>
        <h4>Pagá con tarjeta de crédito/débito o en efectivo</h4>
        <p>
            En Al Zein te ofrecemos facilidades de pago tales como
            tarjeta de crédito, débito, MercadoPago y efectivo!
        </p>
    </div>
    <div class="footer__section">
        <i class="fas fa-gift"></i>
        <h4>Servicio de Take away</h4>
        <p>
            Puedes llamar y te asesoramos con tu pedido para que 
            lleves y puedas matar tu antojo.
        </p>
    </div>
    <div class="footer__section logo__Copyright">
        <img src="/images/logo-Photoroom.png" alt="logo" class="footer-logo">
        <p>Copyright © 2017-2024 Al Zein S.R.L.</p>
    </div>
</footer>
</body>
</html>
