<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <link rel="website icon" type="png" href="/images/logo-Photoroom.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contáctanos</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<div class="body">
<body>
    <div class="header">
    <header>
        <nav>
            <ul>
                <a href="/" class="logo">
                <img src="/images/logo-Photoroom.png" alt="Logo">
                </a>
                <li><a href="/menu">Menú</a></li>
                <li><a href="/delivery">Delivery</a></li>
                <li><a href="/maps">Nos ubicamos</a></li>
            </ul>
        </nav>
    </header>
</div>
</body>
</div>
</html>
    