<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="website icon" type="png" href="/images/logo-Photoroom.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido Al Zein</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header class="hero">
        <div class="hero-content">
            <div class="hero-left">
                <div class="logo">
                    <img src="/images/logo-Photoroom.png" alt="Al Zein Logo">
                </div>
                <h1>Bienvenido Al Zein / Welcome to Al Zein <span class="emoji"><img src="/images/icono shawarma.png.png" alt="icono"></span></h1>
                <p>¡Tú escoges, nosotros te complacemos! / You choose, we please you!</p>
                <div class="options">
                    <span class="option"><img src="/images/para-llevar.png" alt="Para llevar"> Para llevar</span>
                    <span class="address">Av. Federico Lacroze 1660, Argentina Buenos Aires</span>
                </div>
            </div>
            <div class="hero-right">
                <a href="/products" class="menu-button">Menú Salon</a>
            </div>
            <div class="hero-right2">
                <a href="/TakeAwayDetails" class="menu-button2">Menú Take Away</a>
            </div>

        </div>
    </header>

    <footer class="main-footer">
        <div class="footer-content">
            <div class="footer__section">
                <i class="fas fa-credit-card"></i>
                <img class="footer-icon" src="/images/metodo-de-pago.png" alt="Método de Pago">
                <h4>Pagá con tarjeta de crédito, débito, MercadoPago o en efectivo / You can pay with credit or debit card, MercadoPago or cash </h4>
                <p>
                    En Al Zein te brindamos una variedad de métodos de pago / Here in Al Zein we offer you a variety of payment methods
                </p>
            </div>
    
            <div class="footer__section">
                <i class="fas fa-gift"></i>
                <img class="footer-icon" src="/images/bolsa-de-la-compra (1).png" alt="Bolsa de Compra">
                <h4>Servicio de Take Away</h4>
                <p>
                    Solo tienes que ver qué se te antoja, tomar el teléfono, llamas y pasas retirando o haces el pedido por PedidosYa o Rappi / You just have to look what looks appetizing to you, grab your phone, call and pick up your order or make your order through PedidosYa or Rappi
                </p>
            </div>
        </div>
        <div class="footer">
        <img src="/images/logo-Photoroom.png" alt="icono">
        <p>&copy; 2017 Al Zein. Todos los derechos reservados.</p>
        </div>
    </footer>
    
</body>
</html>
