<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlZein - Menú</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="/images/logo-Photoroom.png" alt="AlZein logo">
            </div>
            <nav>
                <ul>
                    <li><a href="#">MENÚ</a></li>
                    <li><a href="#">CAFÉ</a></li>
                    <li><a href="#">EXPERIENCIA STARBUCKS</a></li>
                </ul>
            </nav>
            <div class="location">
                <img src="/images/location-icon.png" alt="Location Icon">
                <a href="#">Localizar Tienda</a>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <h1>Menú</h1>

            <div class="category">
                <h2 onclick="toggleSection('empanadas')">Empanadas (Fatay)</h2>
                <div id="empanadas" class="menu-section">
                    <ul>
                        <li>Carne abierta</li>
                        <img src="/images/empanada abierta.jpg" alt="Empanada abierta">
                        <li>Carne cerrada</li>
                        <img src="/images/emapanda cerrada.webp" alt="Empanada cerrada">
                        <li>Sojok</li>
                        <img src="/images/sojok.png" alt="Sojok">
                        <li>Espinaca</li>
                        <img src="/images/emapanda espianca.jpg" alt="Empanada de espinaca">
                        <li>Queso</li>
                        <img src="/images/empanada queso.jpg" alt="Empanada de queso">
                        <li>Berenjena</li>
                        <img src="/images/empanadas de berenjena.jpg" alt="Empanadas de berenjena">
                    </ul>
                </div>
            </div>

            <div class="category">
                <h2 onclick="toggleSection('platos-frios')">Platos Fríos</h2>
                <div id="platos-frios" class="menu-section">
                    <ul>
                        <li>Hummus</li>
                        <img src="/images/Hummus.jpg" alt="Hummus">
                        <li>Puré de berenjenas (Mtabal)</li>
                        <img src="/images/mtabal.jpg" alt="Mtabal">
                        <li>Puré de morrón (Mohammara)</li>
                        <img src="/images/mohamara.jpg" alt="Mohammara">
                        <li>Labane (yogurt firme árabe)</li>
                        <img src="/images/labane.webp" alt="Labane">
                        <li>Kishke (yogurt con trigo burgol, cebolla picada, sal, ajo, perejil y nueces)</li>
                        <img src="/images/kishke.jpg" alt="Kishke">
                        <li>Kebbe crudo</li>
                        <img src="/images/kebbe crudo.jpg" alt="Kebbe crudo">
                    </ul>
                </div>
            </div>

            <div class="category">
                <h2 onclick="toggleSection('ensaladas')">Ensaladas</h2>
                <div id="ensaladas" class="menu-section">
                    <ul>
                        <li>Tabule (perejil, tomate, cebolla, trigo, aceite de oliva, sal y sal de limón)</li>
                        <li>Babaganosh (berenjena ahumada, tomate, cebolla, perejil y morrones verde y rojo)</li>
                        <li>Belen (berenjena y morrón sofrito con nueces y pasas de uva)</li>
                        <li>Fatoush (lechuga, cebolla, tomate, perejil, pepino, aceitunas, queso árabe, pan frito y aderezo de la casa)</li>
                    </ul>
                </div>
            </div>

            <div class="category">
                <h2 onclick="toggleSection('platos-calientes')">Platos Calientes</h2>
                <div id="platos-calientes" class="menu-section">
                    <ul>
                        <li>Shawarma sandwich (carne/pollo/mixto)</li>
                        <li>Shawarma al plato (carne/pollo/mixto)</li>
                        <li>Shish kebab (carne picada en fierros a la parrilla con papas o ensalada)</li>
                        <li>Shish taouk (brochettes de pollo cortado a cuchillo con papas fritas o ensalada)</li>
                        <li>Lomo en pinchos (brochettes de lomo cortado a cuchillo con papas fritas o ensalada)</li>
                        <li>Carne al plato (carne picada bien condimentada a la parrilla con papas fritas o ensalada)</li>
                        <li>Pollo frito (1/2 porción de supremas de pollo condimentado al estilo krispy)</li>
                        <li>Pan relleno con carne (pan árabe relleno con carne picada condimentada y cocinado a la parrilla con papas fritas o ensalada)</li>
                        <li>Kebbe frito</li>
                        <li>Kebbe al horno</li>
                        <li>Hojas de parra</li>
                        <li>Falafel al plato</li>
                        <li>Falafel al sandwich</li>
                        <li>Papas fritas</li>
                    </ul>
                </div>
            </div>

            <div class="category">
                <h2 onclick="toggleSection('bebidas')">Bebidas</h2>
                <div id="bebidas" class="menu-section">
                    <ul>
                        <li>Línea Coca-Cola completa</li>
                        <li>Levite (manzana, naranja, pomelo y pera)</li>
                        <li>Agua con gas</li>
                        <li>Agua sin gas</li>
                    </ul>
                </div>
            </div>

        </div>
    </main>

    <script src="/js/home.js"></script>
</body>
</html>
