<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafés Calientes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="/images/logo-Photoroom.png" alt="AlZein logo">
            </div>
            <nav>
                <ul>
                    <li><a href="#">MENÚ</a></li>
                    <li><a href="#">CAFÉ</a></li>
                    <li><a href="#">EXPERIENCIA STARBUCKS</a></li>
                </ul>
            </nav>
            <div class="location">
                <img src="location-icon.png" alt="Location Icon">
                <a href="#">Localizar Tienda</a>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <h1>Cafés calientes</h1>
            <div class="category">
                <h2>Lattes</h2>
                <div class="latte-items">
                    <div class="latte-item">
                        <img src="skinny-vanilla-latte.jpg" alt="Skinny Vanilla Latte">
                        <p>Skinny Vainilla Latte</p>
                    </div>
                    <div class="latte-item">
                        <img src="vanilla-latte.jpg" alt="Vanilla Latte">
                        <p>Vainilla Latte</p>
                    </div>
                    <div class="latte-item">
                        <img src="latte.jpg" alt="Latte">
                        <p>Latte</p>
                    </div>
                    <div class="latte-item">
                        <img src="dulce-de-leche-latte.jpg" alt="Dulce de Leche Latte">
                        <p>Dulce de leche Latte</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="script.js"></script>
</body>
</html>