<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Al Zein</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="menu.html">Menú</a></li>
                <li><a href="#">Delivery</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section class="content">
        <div class="about">
            <h1>Al Zein</h1>
            <p>Bienvenidos a Al Zein</p>
            <p>¡Sumérgete en una experiencia gastronómica única! En Al Zein, te invitamos a disfrutar de la auténtica cocina árabe, preparada con los ingredientes más frescos y recetas tradicionales. Desde nuestros jugosos shawarmas hasta el delicioso hummus, cada plato está diseñado para deleitar tus sentidos. Ven y descubre los sabores exquisitos y el cálido ambiente que solo Al Zein puede ofrecer.</p>
        </div>
        <div class="image">
            <div class="tenor-gif-embed" data-postid="17892398" data-aspect-ratio="1" data-width="70%">
                <a href="https://tenor.com/view/shaorma-mado-sharp-shawarma-gif-17892398">Shaorma Mado Sharp GIF</a>
                <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
            </div>
        </div>
    </section>
    <script src="scripts.js"></script>
</body>
</html>
