<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Al Zein</title>
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="carousel-container">
        <h2>Entradas Calientes</h2>
        <div class="carousel" id="carousel1">
            <div class="carousel-item">
                <img src="/images/borak.webp" alt="Borak">
                <div class="carousel-caption">Borak</div>
            </div>
            <div class="carousel-item">
                <img src="/images/falafel al plato.avif" alt="falafel al plato">
                <div class="carousel-caption">falafel al plato</div>
            </div>
            <div class="carousel-item">
                <img src="/images/hoja de parra.jpg" alt="Hojas de parra">
                <div class="carousel-caption">Hojas de parra</div>
            </div>
            <div class="carousel-item">
                <img src="/images/kebbe al horno.jpg" alt="Kebbe al horno">
                <div class="carousel-caption">Kebbe al horno</div>
            </div>
            <div class="carousel-item">
                <img src="/images/kebbe frito.avif" alt="Kebbe frito">
                <div class="carousel-caption">Kebbe frito</div>
            </div>
            <div class="carousel-item">
                <img src="/images/papas_fritas_a_la_francesa.jpeg" alt="papas fritas">
                <div class="carousel-caption">papas fritas</div>
            </div>
        </div>
        <button class="prev-button" data-carousel="carousel1">Prev</button>
        <button class="next-button" data-carousel="carousel1">Next</button>
    </div>

    <div class="carousel-container">
        <h2>Platos Calientes</h2>
        <div class="carousel" id="carousel2">
            <div class="carousel-item">
                <img src="images/shawarma.jpeg" alt="Shawarma de carne">
                <div class="carousel-caption">Shawarma de carne</div>
            </div>
            <div class="carousel-item">
                <img src="/images/shawarma_de_carne_al_plato.jpeg" alt="Shawarma de carne al plato">
                <div class="carousel-caption">Shawarma de carne al plato</div>
            </div>
            <div class="carousel-item">
                <img src="images/shawarma_de_pollo.jpeg" alt="Shawarma de pollo">
                <div class="carousel-caption">Shawarma de pollo</div>
            </div>
            <div class="carousel-item">
                <img src="/images/shawarma_de_pollo.jpeg" alt="Shawarma de Pollo al plato">
                <div class="carousel-caption">Shawarma de pollo al plato</div>
            </div>
            <div class="carousel-item">
                <img src="/images/shawarma.jpeg" alt="Shawarma de mixto">
                <div class="carousel-caption">Shawarma mixto</div>
            </div>
            <div class="carousel-item">
                <img src="/images/shawarma.jpeg" alt="Shawarma de mixto al plato">
                <div class="carousel-caption">Shawarma mixto al plato</div>
            </div>
            <div class="carousel-item">
                <img src="/images/falafel.jpeg" alt="Falafel al sandwich">
                <div class="carousel-caption">Falafel al sandwich</div>
            </div>
            <div class="carousel-item">
                <img src="images/shish_kebab_de_carne_picada.jpeg" alt="Shish Kebab">
                <div class="carousel-caption">Shish Kebab</div>
            </div>
            <div class="carousel-item">
                <img src="images/brochette_de_pollo.jpeg" alt="Shish Taouk">
                <div class="carousel-caption">Shish Taouk</div>
            </div>
            <div class="carousel-item">
                <img src="/images/shish_kebab.jpeg" alt="Lomo">
                <div class="carousel-caption">Lomo</div>
            </div>
            <div class="carousel-item">
                <img src="/images/carne_picada_al_plato_pero_armada_tipo_hamburguesa_compactada_y_cocida.jpeg" alt="Carne al plato">
                <div class="carousel-caption">Carne al plato</div>
            </div>
            <div class="carousel-item">
                <img src="/images/toshka.jpg" alt="Toshka">
                <div class="carousel-caption">Toshka</div>
            </div>
            <div class="carousel-item">
                <img src="/images/tenders_de_pollo_con_papas_franciscas.jpeg" alt="1/2 porción de pollo crispy">
                <div class="carousel-caption">1/2 pollo crispy</div>
            </div>
            <div class="carousel-item">
                <img src="images/brochette_de_pollo.jpeg" alt="Shish Taouk">
                <div class="carousel-caption">Shish Taouk</div>
            </div>
        </div>
        <button class="prev-button" data-carousel="carousel2">Prev</button>
        <button class="next-button" data-carousel="carousel2">Next</button>
    </div>

    <div class="carousel-container">
        <h2>Platos Fríos/Ensaladas</h2>
        <div class="carousel" id="carousel3">
            <div class="carousel-item">
                <img src="/images/Hummus.jpg" alt="Hummus">
                <div class="carousel-caption">Hummus</div>
            </div>
            <div class="carousel-item">
                <img src="/images/mtabal.jpg" alt="Mtabal">
                <div class="carousel-caption">Mtabal (Pur&eacute; de berenjenas)</div>
            </div>
            <div class="carousel-item">
                <img src="/images/mohamara.jpg" alt="Mohamara">
                <div class="carousel-caption">Pur&eacute; de morr&oacute;n</div>
            </div>
            <div class="carousel-item">
                <img src="/images/labane.webp" alt="Labane">
                <div class="carousel-caption">Yogurt árabe firme</div>
            </div>
            <div class="carousel-item">
                <img src="/images/kishke.jpg" alt="Kishke">
                <div class="carousel-caption">Yogurt seco especiado</div>
            </div>
            <div class="carousel-item">
                <img src="/images/kebbe crudo.jpg" alt="Kebbe crudo">
                <div class="carousel-caption">Carne premium bien especiada</div>
            </div>
            <div class="carousel-item">
                <img src="/images/tabule.jpg" alt="Tabule">
                <div class="carousel-caption">Tabule</div>
            </div>
            <div class="carousel-item">
                <img src="/images/babaganoush.jpg" alt="Babaganoush">
                <div class="carousel-caption">Babaganoush</div>
            </div>
            <div class="carousel-item">
                <img src="/images/ensalada_fattoush_perejil_tomate_cebolla_aceitunas_queso_en_cubitos_pan_arabe_frito_y_nueces.jpeg" alt="Fattoush">
                <div class="carousel-caption">Fattoush</div>
            </div>
            <div class="carousel-item">
                <img src="images/ensalada_belen_con_morron_berenjenas_y_nueces.jpeg" alt="Belen">
                <div class="carousel-caption">Belen</div>
            </div>
        </div>
        <button class="prev-button" data-carousel="carousel3">Prev</button>
        <button class="next-button" data-carousel="carousel3">Next</button>
    </div>

    <div class="carousel-container">
        <h2>Empanadas</h2>
        <div class="carousel" id="carousel4">
            <div class="carousel-item">
                <img src="/images/empanada abierta.jpg" alt="Empanada carne abierta">
                <div class="carousel-caption">Empanada carne abierta</div>
            </div>
            <div class="carousel-item">
                <img src="/images/empanada de carne.jpg" alt="Empanada carne">
                <div class="carousel-caption">Empanada carne</div>
            </div>
            <div class="carousel-item">
                <img src="/images/empanada de pollo.jpg" alt="Empanada pollo">
                <div class="carousel-caption">Empanada pollo</div>
            </div>
            <div class="carousel-item">
                <img src="/images/empanada de humita.jpg" alt="Empanada humita">
                <div class="carousel-caption">Empanada humita</div>
            </div>
            <div class="carousel-item">
                <img src="/images/empanada de espinaca.jpg" alt="Empanada espinaca">
                <div class="carousel-caption">Empanada espinaca</div>
            </div>
        </div>
        <button class="prev-button" data-carousel="carousel4">Prev</button>
        <button class="next-button" data-carousel="carousel4">Next</button>
    </div>
    <script src="/js/menu.js"></script>
</body>
</html>
