<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Carousel</title>
    <link rel="stylesheet" href="public/css/menu.css">
</head>
<body>
    <a href="/home.html">Volver a la Página Principal</a>
    <div class="carousel">
        <div class="carousel-container">
            <div class="carousel-slide">
                <img src="public/img/img1.jpg" alt="Image 1">
                <img src="public/img/img2.jpg" alt="Image 2">
                <img src="public/img/img3.jpg" alt="Image 3">
                <img src="public/img/img4.jpg" alt="Image 4">
                <img src="public/img/img5.jpg" alt="Image 5">
            </div>
        </div>
        <div class="carousel-buttons">
            <button id="prevBtn">&#10094;</button>
            <button id="nextBtn">&#10095;</button>
        </div>
    </div>
    <div class="carousel-caption">
        <p id="caption">Pizza</p>
    </div>

    <script src="script.js"></script>
</body>
</html>
