<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AL Zein</title>
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/images/logo-Photoroom.png" alt="AL Zein">
            <h1>AL Zein</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#entradas-calientes">Entradas Calientes</a></li>
                <li><a href="#platos-calientes">Platos Calientes</a></li>
                <li><a href="#platos-frios">Platos Fríos/Ensaladas</a></li>
                <li><a href="#empanadas">Empanadas</a></li>
                <li><a href="#bebidas">Bebidas</a></li>
            </ul>
        </nav>
    </header>

    <!-- Sección Entradas Calientes -->
    <section id="entradas-calientes" class="menu-section">
        <h2>Entradas Calientes</h2>
        <div class="menu-grid">
            <div class="menu-item">
                <img src="/images/borak.webp" alt="Borak">
                <div class="item-details">
                    <h3>Borak</h3>
                    <p>6 empanaditas fritas con relleno de queso árabe, perejil y especias.</p>
                    <span class="price">$8.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/falafel al plato.avif" alt="Falafel">
                <div class="item-details">
                    <h3>Falafel</h3>
                    <p>6 bolitas de garbanzo procesado con perejil, morrón y especias árabes.</p>
                    <span class="price">$8.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/hoja de parra.jpg" alt="Hoja de Parra">
                <div class="item-details">
                    <h3>Hoja de Parra</h3>
                    <p>Hojas de parra envueltas rellenas de arroz, carne picada y especias árabes.</p>
                    <span class="price">$8.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/kebbe al horno.jpg" alt="Kebbe al Horno">
                <div class="item-details">
                    <h3>Kebbe al Horno</h3>
                    <p>Masa de trigo burgol con carne compactada relleno de carne picada, cebolla, nueces y especias árabes.</p>
                    <span class="price">$8.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/kebbe frito.avif" alt="Kebbe Frito">
                <div class="item-details">
                    <h3>Kebbe Frito</h3>
                    <p>Masa de trigo burgol con carne compactada relleno de carne picada, cebolla, nueces y especias árabes.</p>
                    <span class="price">$8.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/papas_fritas_a_la_francesa.jpeg" alt="Papas Fritas">
                <div class="item-details">
                    <h3>Papas Fritas</h3>
                    <p>Corte tradicional en bastones con especias de la casa.</p>
                    <span class="price">$8.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/queso a la parrilla.jpg" alt="Queso a la Parrilla">
                <div class="item-details">
                    <h3>Queso a la Parrilla</h3>
                    <p>Queso árabe asado con aceitunas.</p>
                    <span class="price">$8.000</span>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección Platos Calientes -->
    <section id="platos-calientes" class="menu-section">
        <h2>Platos Calientes</h2>
        <div class="menu-grid">
            <div class="menu-item">
                <img src="/images/shawarma.jpeg" alt="Shawarma de Carne">
                <div class="item-details">
                    <h3>Shawarma de Carne</h3>
                    <p>Carne, lechuga, tomate y cebolla, mayonesa de ajo y tarator.</p>
                    <span class="price">$15.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/shawarma_de_carne_al_plato.jpeg" alt="Shawarma de Carne al Plato">
                <div class="item-details">
                    <h3>Shawarma de Carne al Plato</h3>
                    <p>Carne, lechuga, tomate y cebolla, mayonesa de ajo y tarator.</p>
                    <span class="price">$15.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/shawarma_de_pollo.jpeg" alt="Shawarma de Pollo">
                <div class="item-details">
                    <h3>Shawarma de Pollo</h3>
                    <p>Pollo, lechuga, tomate y cebolla, mayonesa de ajo.</p>
                    <span class="price">$15.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/brochette_de_pollo (1).jpeg" alt="Shawarma de Pollo al Plato">
                <div class="item-details">
                    <h3>Shawarma de Pollo al Plato</h3>
                    <p>Pollo, lechuga, tomate y cebolla, mayonesa de ajo y tarator.</p>
                    <span class="price">$15.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/shawarma.jpeg" alt="Shawarma Mixto">
                <div class="item-details">
                    <h3>Shawarma Mixto</h3>
                    <p>Carne y pollo, lechuga, tomate y cebolla, mayonesa de ajo y tarator.</p>
                    <span class="price">$15.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/shawarma_de_carne_al_plato.jpeg" alt="Shawarma Mixto al Plato">
                <div class="item-details">
                    <h3>Shawarma Mixto al Plato</h3>
                    <p>Carne y pollo, lechuga, tomate y cebolla, mayonesa de ajo y tarator.</p>
                    <span class="price">$15.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/shish_kebab_de_carne_picada.jpeg" alt="Shish Kebab">
                <div class="item-details">
                    <h3>Shish Kebab</h3>
                    <p>Carne picada puesta en fierros a la parrilla con papas o ensalada.</p>
                    <span class="price">$15.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/brochette_de_pollo.jpeg" alt="Shish Taouk">
                <div class="item-details">
                    <h3>Shish Taouk</h3>
                    <p>Brochettes de pollo cortado a cuchillo con papas fritas o ensalada.</p>
                    <span class="price">$15.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/shish_kebab.jpeg" alt="Lomo">
                <div class="item-details">
                    <h3>Lomo</h3>
                    <p>2 brochettes de lomo cortado a cuchillo con papas fritas o ensalada.</p>
                    <span class="price">$15.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/falafel.jpeg" alt="Falafel en Sandwich">
                <div class="item-details">
                    <h3>Falafel en Sandwich</h3>
                    <p>Lechuga, cebolla y tomate, salsa de ajo o hummus y salsa de tarator.</p>
                    <span class="price">$15.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/carne_picada_al_plato_pero_armada_tipo_hamburguesa_compactada_y_cocida.jpeg" alt="Carne al Plato">
                <div class="item-details">
                    <h3>Carne al Plato</h3>
                    <p>Carne picada bien condimentada a la parrilla con papas fritas o ensalada.</p>
                    <span class="price">$15.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/tenders_de_pollo_con_papas_franciscas.jpeg" alt="Pollo Crocante">
                <div class="item-details">
                    <h3>Pollo Crocante</h3>
                    <p>1/2 porción de supremas de pollo condimentado al estilo crispy.</p>
                    <span class="price">$15.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/toshka.jpg" alt="Toshka">
                <div class="item-details">
                    <h3>Toshka</h3>
                    <p>Pan árabe relleno con carne picada condimentada y cocinado a la parrilla con papas fritas o ensalada.</p>
                    <span class="price">$15.000</span>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección Platos Fríos/Ensaladas -->
    <section id="platos-frios" class="menu-section">
        <h2>Platos Fríos/Ensaladas</h2>
        <div class="menu-grid">
            <div class="menu-item">
                <img src="/images/Hummus.jpg" alt="Hummus">
                <div class="item-details">
                    <h3>Hummus</h3>
                    <p>Garbanzo, tahine y especias árabes.</p>
                    <span class="price">$10.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/mtabal.jpg" alt="Mtabal">
                <div class="item-details">
                    <h3>Mtabal (Puré de Berenjenas)</h3>
                    <p>Berenjenas ahumadas con tahine, yogurt, ajo y sal.</p>
                    <span class="price">$10.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/mohamara.jpg" alt="Mohammara">
                <div class="item-details">
                    <h3>Mohammara (Puré de Morrón)</h3>
                    <p>Morrones ahumados, pan rallado, pimentón en polvo y especias árabes.</p>
                    <span class="price">$10.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/labane.webp" alt="Labane">
                <div class="item-details">
                    <h3>Labane (Yogurt)</h3>
                    <p>Yogurt árabe firme con aceite de oliva y aceitunas.</p>
                    <span class="price">$10.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/kishke.jpg" alt="Kishke">
                <div class="item-details">
                    <h3>Kishke</h3>
                    <p>Yogurt árabe con trigo burgol, cebolla picada, sal, ajo, perejil y nueces.</p>
                    <span class="price">$10.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/tabule.jpg" alt="Tabule">
                <div class="item-details">
                    <h3>Tabule</h3>
                    <p>Perejil, tomate, cebolla, trigo, aceite de oliva, sal y sal de limón.</p>
                    <span class="price">$10.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/babaganoush.jpg" alt="Babaganoush">
                <div class="item-details">
                    <h3>Babaganoush</h3>
                    <p>Berenjenas ahumadas, tomate, cebolla, perejil y morrones verde y rojo.</p>
                    <span class="price">$10.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/ensalada_belen_con_morron_berenjenas_y_nueces.jpeg" alt="Belen">
                <div class="item-details">
                    <h3>Belen</h3>
                    <p>Berenjena y morrón sofrito con nueces y pasas de uva.</p>
                    <span class="price">$10.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/ensalada_fattoush_perejil_tomate_cebolla_aceitunas_queso_en_cubitos_pan_arabe_frito_y_nueces.jpeg" alt="Fattoush">
                <div class="item-details">
                    <h3>Fattoush</h3>
                    <p>Lechuga, cebolla, tomate, perejil, pepino, aceitunas, queso árabe, pan frito y aderezo de la casa.</p>
                    <span class="price">$10.000</span>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección Empanadas -->
    <section id="empanadas" class="menu-section">
        <h2>Empanadas</h2>
        <div class="menu-grid">
            <div class="menu-item">
                <img src="/images/empanada abierta.jpg" alt="Empanada Abierta">
                <div class="item-details">
                    <h3>Empanada Abierta</h3>
                    <p>Empanada abierta con carne y especias.</p>
                    <span class="price">$5.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/emapanda cerrada.webp" alt="Empanada Cerrada">
                <div class="item-details">
                    <h3>Empanada Cerrada</h3>
                    <p>Empanada cerrada con carne y especias.</p>
                    <span class="price">$5.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/sojok.png" alt="Sojok">
                <div class="item-details">
                    <h3>Sojok</h3>
                    <p>Empanada con carne muy condimentada.</p>
                    <span class="price">$5.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/empanada queso.jpg" alt="Empanada de Queso">
                <div class="item-details">
                    <h3>Empanada de Queso</h3>
                    <p>Empanada de queso ricotta y perejil.</p>
                    <span class="price">$5.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/emapanda espianca.jpg" alt="Empanada de Espinaca">
                <div class="item-details">
                    <h3>Empanada de Espinaca</h3>
                    <p>Empanada de espinaca con cebolla y especias.</p>
                    <span class="price">$5.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/empanadas de berenjena.jpg" alt="Empanada de Berenjena">
                <div class="item-details">
                    <h3>Empanada de Berenjena</h3>
                    <p>Berenjenas con morrón, cebolla fritos, nueces y especias árabes.</p>
                    <span class="price">$5.000</span>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección Bebidas -->
    <section id="bebidas" class="menu-section">
        <h2>Bebidas</h2>
        <div class="menu-grid">
            <div class="menu-item">
                <img src="/images/coca-cola.jpg" alt="Coca-Cola Común">
                <div class="item-details">
                    <h3>Coca-Cola Común</h3>
                    <p>Coca-Cola 500ml.</p>
                    <span class="price">$3.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/coca-cola cero.jpeg" alt="Coca-Cola Cero">
                <div class="item-details">
                    <h3>Coca-Cola Cero</h3>
                    <p>Coca-Cola 500ml.</p>
                    <span class="price">$3.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/sprite-comun.jpg" alt="Sprite Común">
                <div class="item-details">
                    <h3>Sprite Común</h3>
                    <p>Sprite 500ml.</p>
                    <span class="price">$3.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/sprite-cero.webp" alt="Sprite Cero">
                <div class="item-details">
                    <h3>Sprite Cero</h3>
                    <p>Sprite cero 500ml.</p>
                    <span class="price">$3.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/fanta.jpeg" alt="Fanta Común">
                <div class="item-details">
                    <h3>Fanta Común</h3>
                    <p>Fanta 500ml.</p>
                    <span class="price">$3.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/agua con gas.webp" alt="Agua con Gas">
                <div class="item-details">
                    <h3>Agua con Gas</h3>
                    <p>Agua con gas 500ml.</p>
                    <span class="price">$3.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/agua sin gas.webp" alt="Agua sin Gas">
                <div class="item-details">
                    <h3>Agua sin Gas</h3>
                    <p>Agua sin gas 500ml.</p>
                    <span class="price">$3.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/levite-manzana.jpg" alt="Levite Manzana">
                <div class="item-details">
                    <h3>Levite Manzana</h3>
                    <p>Levite de manzana 500ml.</p>
                    <span class="price">$3.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/levite-naranja.jpg" alt="Levite Naranja">
                <div class="item-details">
                    <h3>Levite Naranja</h3>
                    <p>Levite de naranja 500ml.</p>
                    <span class="price">$3.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/levite-pera.webp" alt="Levite Pera">
                <div class="item-details">
                    <h3>Levite Pera</h3>
                    <p>Levite de pera 500ml.</p>
                    <span class="price">$3.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/levite-pomelo.webp" alt="Levite Pomelo">
                <div class="item-details">
                    <h3>Levite Pomelo</h3>
                    <p>Levite pomelo 500ml.</p>
                    <span class="price">$3.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/Schweppes-tonica.webp" alt="Schweppes Tónica">
                <div class="item-details">
                    <h3>Schweppes Tónica</h3>
                    <p>Schweppes tónica 500ml.</p>
                    <span class="price">$3.000</span>
                </div>
            </div>
            <div class="menu-item">
                <img src="/images/Schweppes-pomelo.webp" alt="Schweppes Pomelo">
                <div class="item-details">
                    <h3>Schweppes Pomelo</h3>
                    <p>Schweppes pomelo 500ml.</p>
                    <span class="price">$3.000</span>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 AL Zein</p>
    </footer>
</body>
</html>
