body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-color: #333;
    height: 100%;
}

.hero {
    background-image: url('/images/shawarma_de_carne_al_plato.jpeg'); /* Reemplaza con la imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: relative;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    background: rgba(0, 0, 0, 0.5); /* Añadir una capa oscura para resaltar el contenido */
    padding: 300px;
    border-radius: 10px;
}

.hero-left {
    max-width: 50%;
}

.hero-right {
    text-align: right;
}

.logo img {
    width: 120px;
    margin-bottom: 20px;
}

h1 {
    font-size: 48px;
    margin: 10px 0;
    color: #ffa500;
}

.emoji {
    font-size: 48px;
}

.options {
    margin: 20px 0;
}

.option {
    display: inline-block;
    margin: 5px 0;
    font-size: 16px;
}

.option img {
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.address {
    margin-top: 10px;
    font-size: 14px;
    color: #ddd;
}

.menu-button {
    display: inline-block;
    background-color: #ffa500;
    color: #333;
    padding: 15px 30px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s;
}

.menu-button:hover {
    background-color: #ff8c00;
}

.footer {
    background-color: #222;
    padding: 20px;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 5px 0;
}
