body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #786e04, #21150df4);    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header, .footer {
    width: 100%;
    color: #fff;
    text-align: center;
}

.footer {
    margin-top: auto;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    flex: 1;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.carousel-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    border: 2px solid #5b4706;
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(to right,#433619f4, #ffc70ead);  
}

.carousel {
    display: flex;
    transition: transform 0.8s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.carousel-item img {
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto;
}

.carousel-item .content {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    text-align: center;
}

.carousel-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-container .prev {
    left: 10px;
}

.carousel-container .next {
    right: 10px;
}
