body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.carousel {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    border-radius: 50%;
    width: 100px;
    margin: 0 10px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.carousel-slide img.active {
    width: 200px;
    transform: scale(1.2);
    opacity: 1;
}

.carousel-slide img.inactive {
    opacity: 0.5;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
}

.carousel-caption {
    text-align: center;
    margin-top: 20px;
}

.carousel-caption p {
    font-size: 18px;
    font-weight: bold;
}
