body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #786e04, #4a3321);
    color: white;
    height: 100%;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
}

nav .logo img {
    height: 50px;
}
.location img {
    width: 20px;
    margin-right: 5px;
}

main {
    padding: 2rem 0;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.category {
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    border: 1px solid #e0e0e0;
}

h2 {
    margin-top: 0;
    cursor: pointer;
}

.menu-section {
    display: none;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    max-height: 0;
    opacity: 0;
}

.menu-section.open {
    display: block;
    max-height: 500px; 
    opacity: 1;
}

ul {

    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffeb3b;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 50px);
    padding: 0 50px;
}

.about {
    flex: 1;
}

.about h1 {
    font-size: 48px;
    margin-bottom: 20px;
    animation: slideIn 1s ease-out;
}

.about p {
    font-size: 24px;
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    max-width: 100%;
    height: auto;
    animation: fadeIn 2s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav li {
        margin-bottom: 0.5rem;
    }

    .logo img {
        width: 80px;
    }
}
